*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    display: flex;
    height: 100%;
    padding-top: 48px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(51, 49, 49);
}
h1{
    text-align: center;
    font-size: 8rem;
    color: rgb(50, 161, 124);
    text-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);;
}

.roll-again{
    font-size: 4rem;
}

.player{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 24px;
}
.dice{
    text-align: center;
    width: 40%;
}

.dice p{
    color: rgb(50, 161, 124);
    font-weight: bold;
    text-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
    margin-bottom: 24px;
}
